
@{
    ViewBag.Title = "HandleInformation";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/Doc_View.js"></script>
</head>

<div class="row">
    <div class="col-md-12 ">
        <span class="text-info">I am developing an arithmetic game for this page.</span>
    </div>
    <div class="col-md-12">
        <h4 class="pad-bottom-50">
            I enjoy working math problems in my head for exercise, an idea inspired by two math instructors:<br />
            a junior high math instructor and my high school calculus instructor.
        </h4>
    </div>
</div>

<body style="background-color:lightgrey">
    <div class="row" style="display:none">
        <div class="col-md-6">
            <div class="col-md-2 pad-top-10">
                <button class="btn btn-default">L1</button>
            </div>
            <div class="col-md-2 pad-top-10">
                <button class="btn btn-success">L2</button>
            </div>
            <div class="col-md-2 pad-top-10">
                <button class="btn btn-danger">L3</button>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
            <h4 class="text-left">For Division, round to three decimal places.</h4>
            <div class="row">
                <div class="col-md-8 arithmetic_btn">
                    <button id="btnAddition" class="btn btn-add">Addition</button>
                </div>
                <br />
                <div class="col-md-8 arithmetic_btn">
                    <button id="btnSubtraction" class="btn btn-sub">Subtraction</button>
                </div>
                <br />
                <div class="col-md-8 arithmetic_btn">
                    <button id="btnMultiplication" class="btn btn-mul">Multiplication</button>
                </div>
                <br />
                <div class="col-md-8 arithmetic_btn">
                    <button id="btnDivision" class="btn btn-div">Division</button>
                </div>
                <br />
                
                <br />
                <div id="selectedModeFeedback" style="display:none">

                </div>
            </div>
        </div>
        <div class="col-md-4 text-left">
            <div class="col-md-12">
                <div class="col-md-2 col-sm-2 col-xs-3 sign-align">
                    <br />
                    <span id="arithmeticSign" class="arithmeticWeight"></span>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-4 arithmeticWeight">
                    <span id="num1" class="right-align"></span>
                    <br />
                    <span id="num2" class="right-alignt"></span>
                </div>
            </div>
            <div class="clearfix"></div>

            <br />
            <div class="col-md-8">
                <label class="label-space">Your answer</label>
                @Html.TextBox("answer", null, new { @class = "form-control" })
            </div>

            <br /><br />
            <div class="col-md-8">
                <span id="result-message"></span>
            </div>
            <br />
            <div class="col-md-8 pad-top-10">
                <button id="btnSubmitAnswer" class="btn btn-primary">Submit Answer</button>
            </div>

            <div class="clearfix"></div>
            <br /><br /><br /><br /><br />

            <div class="col-md-8" style="display:none">
                <label class="label-space">Number 1</label>
                @Html.TextBox("txtNum1", null, new { @class = "hidden-control", @readonly = "readonly" })
            </div>

            <div class="col-md-8" style="display:none">
                <label class="label-space">Number 2</label>
                @Html.TextBox("txtNum2", null, new { @class = "hidden-control", @readonly = "readonly" })
            </div>

            <div style="display:none">
                @Html.TextBox("txt-mode", null, new { @class = "hidden-control" })
            </div>

            <div style="display:none">
                @Html.TextBox("correct-answer", "", new { @class = "hidden-control" })
            </div>

            <div style="display:none">
                @Html.TextBox("txtBoundary", "", new { @class="hidden-control"})
            </div>
        </div>
    </div>
</body>


