
@{
    ViewBag.Title = "HandleInformation";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/Doc_View.js"></script>
</head>

<div class="row">
    <div class="col-md-12">
        <h4>
            I enjoy working math problems in my head for exercise, an idea inspired by two math instructors:<br />
            a junior high math instructor and my high school calculus instructor.
        </h4>

        <span class="text-info">This will likely be a continually evolving work.<br /> I love math-based games of various kinds.</span>
    </div>
</div>

<body style="background-color:lightgrey">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-xs-12 pad-top-10 text-center">
            <button id="gameInstructions">Show Game Play Instructions</button><br />
            <table id="gamePlayInstructions" class="table-responsive table-bordered table-striped level-instruction-table" style="display:none">
                <thead>
                    <tr>
                        <td><strong>Game Play Instructions</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            The goal of this "game" is for individuals to solve as many math problems as possible in 5 minutes (300 seconds).<br />
                            It is, of course, not possible to restrict calculators but I do encourage people to challenge themselves
                            to use their great built-in computer, the human brain (on paper if needed, of course). <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Once a level is selected, this will be the level for the duration of the 5 minutes. <br />
                            If another level is desired, there is a "Reset Game" button at the bottom of the page.<br />
                            I have attempted to adjust scoring to the difficulty level of both level selection and 
                            mathematical operation selected.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>When a game has ended, click or tap the "Reset Game" button to start a new game.</strong>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            Three consecutive incorrect answers on one problem results in a 5 point score reduction with a minimum score of 0.<br />
                            In this event, a calculation mode must be selected for another problem.
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>

        <div class="col-lg-7 col-md-6 col-xs-12 pad-top-10 text-center">
            <button id="showLevelInstructions">Show Level Selection Instructions</button><br />
            <table id="levelSelectionInstructions" class="table-responsive table-bordered table-striped level-instruction-table" style="display:none">
                <thead>
                    <tr>
                        <td></td>
                        <td>Addition / Subtraction</td>
                        <td>Multiplication</td>
                        <td>Division</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>L1</td>
                        <td>10 pts</td>
                        <td>100 pts</td>
                        <td>200 pts</td>
                    </tr>
                    <tr>
                        <td>L2</td>
                        <td>100 pts</td>
                        <td>@(100 * 10) pts</td>
                        <td>@(200 * 10) pts</td>
                    </tr>
                    <tr>
                        <td>L3</td>
                        <td>150 pts</td>
                        <td>@(100 * 15) pts</td>
                        <td>@(200 * 15) pts</td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            Three consecutive incorrect answers on one problem results in a 5 point score reduction with a minimum score of 0.<br />
                            In this event, a calculation mode must be selected for another problem.
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-6 col-xs-12 pad-top-75">
            <fieldset>
                <legend>Difficulty Level</legend>
                <div class="col-md-12">
                    <div class="col-md-2 pad-top-25">
                        <button id="btnL1" class="btn btn-default level-buttons">L1</button>
                    </div>
                    <div class="col-md-2 pad-top-25">
                        <button id="btnL2" class="btn btn-success level-buttons">L2</button>
                    </div>
                    <div class="col-md-2 pad-top-25">
                        <button id="btnL3" class="btn btn-danger level-buttons">L3</button>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        @Html.Label("Selected Level", "Selected Level")<div class="clearfix"></div>
                        @Html.TextBox("levelSelected", "", new { @id = "levelSelected", @readonly="readonly", @class = "pad-bottom-10" })
                    </div>
                </div>
            </fieldset>
        </div>
        

    </div>
    <br /><br />
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="row text-left">
                <div class="col-md-8 col-xs-12">
                    @Html.Label("timerRemaining", "timeRemaining", new { @class = "text-left" })
                    @Html.TextBox("txtCountdown", "", new { @id = "txtCountdown", @readonly="readonly", @class="form-control pad-bottom-20" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="row text-left">
                <div class="col-md-8 col-xs-12">
                    @Html.Label("Score", "Score", new { @class = "text-left" })
                    @Html.TextBox("txtScore", "0", new { @id = "txtScore", @readonly = "readonly", @class = "form-control pad-bottom-20" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-center">
            <div class="row">
                <div class="col-md-8 arithmetic_btn">
                    <button id="btnAddition" class="btn btn-add">Addition</button>
                    <span id="mode_a"></span>
                </div>

                <div class="col-md-8 arithmetic_btn">
                    <button id="btnSubtraction" class="btn btn-sub">Subtraction</button>
                    <span id="mode_s"></span>
                </div>

                <div class="col-md-8 arithmetic_btn">
                    <button id="btnMultiplication" class="btn btn-mul">Multiplication</button>
                    <span id="mode_m"></span>
                </div>

                <div class="col-md-8 arithmetic_btn">
                    <button id="btnDivision" class="btn btn-div">Division</button>
                    <span id="mode_d"></span>
                </div>

                <div class="col-md-8 arithmetic_btn">
                    <button id="resetGame" class="btn btn-default">Reset Game</button>
                    <span id="resetStatusMessage"></span>
                </div>
                
                <div id="selectedModeFeedback" style="display:none">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 text-left">
            <div class="col-md-12">
                <div class="col-md-2 col-sm-2 col-xs-3 sign-align">
                    <br />
                    <span id="arithmeticSign" class="arithmeticWeight"></span>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-4 arithmeticWeight">
                    <span id="num1" class="right-align"></span>
                    <br />
                    <span id="num2" class="right-align underline"></span>
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="col-md-8">
                <label class="label-space">Your answer</label>
                @Html.TextBox("answer", null, new { @class = "form-control" })
            </div>

            <br />
            <div class="col-md-8">
                <span id="result-message"></span>
            </div>
            <br />
            <div class="col-md-8 pad-top-10">
                <button id="btnSubmitAnswer" class="btn btn-primary">Submit Answer</button>
            </div>

            <div class="clearfix"></div>
            <br /><br /><br /><br /><br />

            <div class="col-md-8" style="display:none">
                <label class="label-space">Number 1</label>
                @Html.TextBox("txtNum1", null, new { @class = "hidden-control", @readonly = "readonly" })
            </div>

            <div class="col-md-8" style="display:none">
                <label class="label-space">Number 2</label>
                @Html.TextBox("txtNum2", null, new { @class = "hidden-control", @readonly = "readonly" })
            </div>

            <div style="display:none">
                @Html.TextBox("txt-mode", null, new { @class = "hidden-control" })
            </div>

            <div style="display:none">
                @Html.TextBox("correct-answer", "", new { @class = "hidden-control" })
            </div>

            <div style="display:none">
                @Html.TextBox("submitStatus", "0", new { @id = "submitStatus", @class = "hidden-control" })
            </div>

            <div style="display:none">
                @Html.TextBox("numbersGenerated", "0", new { @id = "numbersGenerated", @class = "hidden-control" })
            </div>

            <div style="display:none">
                @Html.TextBox("attempts", "0", new { @id = "attempts", @class = "hidden-control" })
            </div>

            <div style="display:none">
                @Html.TextBox("txtBoundary", "", new { @class = "hidden-control" })
            </div>

            <div style="display:none">
                @Html.TextBox("txtMin", "", new { @class = "hidden-control" })
            </div>
        </div>
    </div>
    <br /><br /><br />
</body>
