@using ben_pister.Domain.Entities
@model List<KentuckianaEats>

@{
    ViewBag.Title = "KIEats";
    
}

<head>
    @Styles.Render("~/Content/css")
</head>
<body class="text-center eatery-background" >

    <div class="row">
        <div class="col-md-24">
            <h4 class="pad-bottom-50">
                I live in Southern Indiana and have worked in Louisville, KY for several years.<br />
                I enjoy the variety of foods available in Louisville and Southern Indiana and decided<br /> 
                that I would add this page as an additional opportunity to design and evolve a layout.
            </h4>
        </div>
    </div>
    <div class="row text-center">
        <table class="table-responsive table-bordered table-centered" >
            @{foreach (var eatery in Model)
            {
                    <tr>
                        <td>@eatery.Name</td>
                        <td>@eatery.Location</td>
                        <td>@eatery.Phone</td>
                        <td>@eatery.MenuWebSite</td>
                    </tr>
                }
            }
        </table>
    </div>
    
</body>

    

